.vagrant/vagrantfile
.vagrant/bundler/global.sol
.vagrant/machines/db_1/virtualbox/action_provision
.vagrant/machines/db_1/virtualbox/action_set_name
.vagrant/machines/db_1/virtualbox/box_meta
.vagrant/machines/db_1/virtualbox/creator_uid
.vagrant/machines/db_1/virtualbox/id
.vagrant/machines/db_1/virtualbox/index_uuid
.vagrant/machines/db_1/virtualbox/rekey_sentinel
.vagrant/machines/db_1/virtualbox/synced_folders
.vagrant/machines/db_1/virtualbox/vagrant_cwd
.vagrant/machines/db_2/virtualbox/action_provision
.vagrant/machines/db_2/virtualbox/action_set_name
.vagrant/machines/db_2/virtualbox/box_meta
.vagrant/machines/db_2/virtualbox/creator_uid
.vagrant/machines/db_2/virtualbox/id
.vagrant/machines/db_2/virtualbox/index_uuid
.vagrant/machines/db_2/virtualbox/rekey_sentinel
.vagrant/machines/db_2/virtualbox/synced_folders
.vagrant/machines/db_2/virtualbox/vagrant_cwd
.vagrant/machines/db_3/virtualbox/action_provision
.vagrant/machines/db_3/virtualbox/action_set_name
.vagrant/machines/db_3/virtualbox/box_meta
.vagrant/machines/db_3/virtualbox/creator_uid
.vagrant/machines/db_3/virtualbox/id
.vagrant/machines/db_3/virtualbox/index_uuid
.vagrant/machines/db_3/virtualbox/rekey_sentinel
.vagrant/machines/db_3/virtualbox/synced_folders
.vagrant/machines/db_3/virtualbox/vagrant_cwd
.vagrant/machines/mgr/virtualbox/action_provision
.vagrant/machines/mgr/virtualbox/action_set_name
.vagrant/machines/mgr/virtualbox/box_meta
.vagrant/machines/mgr/virtualbox/creator_uid
.vagrant/machines/mgr/virtualbox/id
.vagrant/machines/mgr/virtualbox/index_uuid
.vagrant/machines/mgr/virtualbox/rekey_sentinel
.vagrant/machines/mgr/virtualbox/synced_folders
.vagrant/machines/mgr/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
1.log
